body {
    background-color: rgb(213,225,206);
}

h1 {
    color: #636235;
    font-family: 'Montserrat', sans-serif;
}

.giphyImage {
    /* border: 2px solid black; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%  
}

#button {
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    
}

#search {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    
}

